h1{
    font-family: 'Julius Sans One', sans-serif;
}

h2{
    font-family: 'Archivo Narrow', sans-serif;
}

a, h3, h4, button, li{
    font-family: 'Kanit', sans-serif; 
}

/* 
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Kanit', sans-serif; 
*/